:root {
  --border-color: #dddddd;
  --border-radius: 5px;
  --transition: .3s linear;
}

input:focus {
  outline: none;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

.calculator_frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: 1px solid var(--border-color);
  padding: 38px;
  width: 80%;
  margin: auto;
  border-radius: 7px;
  background: #f0f0f0;
}

.calculator_frame form {
  margin-right: 6%;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  width: 55%;
}

.calculator_frame__parentImg {
  position: -webkit-sticky;
  position: sticky;
  top: 30px;
  bottom: 30px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.calculator_frame__submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  padding: 10px 30px;
  margin-top: 26px;
  background: #bfc82f;
  color: #fff;
  border: none;
  font-size: 20px;
}

.calculator_frame__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.calculator_frame__label label {
  color: #000;
  font-size: 15px;
  width: 50%;
}

.calculator_frame__label.active {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.calculator_frame__label.active input {
  -webkit-box-shadow: 0px 1px 3px 1px #55c41d52;
          box-shadow: 0px 1px 3px 1px #55c41d52;
}

.calculator_frame__label input {
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  color: #000;
  font-family: 'Ubuntu';
  font-size: 14px;
  width: 190px;
  height: 30px;
}

.calculator_frame__label[data-rass="ploshad"] label {
  font-size: 15px;
  color: #000;
  width: 50%;
}

.calculator_frame__select-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

.calculator_frame__select-box.active {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.calculator_frame__select-box.active div {
  -webkit-box-shadow: 0px 1px 3px 1px #55c41d52;
          box-shadow: 0px 1px 3px 1px #55c41d52;
}

.calculator_frame__select-box span {
  font-size: 15px;
  width: 60%;
}

.calculator_frame__select {
  position: relative;
  border: 1px solid var(--border-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
  color: #989898;
  border-radius: var(--border-radius);
  font-size: 14px;
  width: 200px;
  height: 50px;
  background: #fff;
  cursor: pointer;
}

.calculator_frame__select[data-rass="tolshina_steny"] li:last-child,
.calculator_frame__select[data-rass="tolshina_steny_2"] li:last-child {
  grid-column: auto;
}

.calculator_frame__select[data-rass="kirpich"] ul {
  width: 322px;
}

.calculator_frame__select p {
  position: absolute;
  color: #000;
  font-size: 14px;
}

.calculator_frame__select ul {
  opacity: 0;
  position: absolute;
  top: 46px;
  background: #fff;
  -webkit-box-shadow: 0px 3px 4px 1px #ccc;
          box-shadow: 0px 3px 4px 1px #ccc;
  width: 100%;
  left: 0;
  padding: 19px;
  list-style: none;
  z-index: -1;
  text-align: center;
}

.calculator_frame__select ul:after {
  content: '';
  position: absolute;
  top: -29px;
  left: 10%;
  border: 11px solid transparent;
  border-bottom: 16px solid #ffffff;
  z-index: 1;
  -webkit-filter: drop-shadow(0px 0px 1px #ccc);
          filter: drop-shadow(0px 0px 1px #ccc);
}

.calculator_frame__select ul:before {
  content: " ";
  top: -2px;
  position: absolute;
  left: 0;
  background: #fff;
  width: 100%;
  z-index: 8;
  height: 15px;
}

.calculator_frame__select ul.active {
  opacity: 1;
  z-index: 9;
}

.calculator_frame__select ul.active + span + img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  opacity: 1;
}

.calculator_frame__select ul li {
  background: #e8e8e8;
  color: #111;
  font-size: 14px;
  padding: 10px;
  border-radius: var(--border-radius);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

.calculator_frame__select ul li.active {
  background: #8c8c8c;
  color: #fff;
  font-weight: bold;
}

.calculator_frame__select ul li:last-child {
  -ms-grid-column: 3;
  -ms-grid-column-span: -2;
  grid-column: 3/1;
}

.calculator_frame__select img {
  position: absolute;
  right: 12px;
  width: 11px;
  opacity: .4;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.calculator_frame__select:hover img {
  opacity: 1;
}

.calculator_frame__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 18px;
  width: 100%;
  margin-top: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calculator_frame__checkbox > p {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #888;
  margin: 0 auto 0 0;
  font-size: 15px;
}

.calculator_frame__checkbox-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-right: 25px;
}

.calculator_frame__checkbox-input input {
  opacity: 0;
  position: absolute;
  left: 0;
}

.calculator_frame__checkbox-input input[value="yes"]:checked + label {
  background: url(../img/check.png);
}

.calculator_frame__checkbox-input input[value="no"]:checked + label {
  background: url(../img/remove.png);
}

.calculator_frame__checkbox-input input:checked + label {
  background-size: 100% !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.calculator_frame__checkbox-input label {
  width: 20px;
  height: 20px;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 2px 0px #ccc;
          box-shadow: 0px 0px 2px 0px #ccc;
  border-radius: 2px;
}

.calculator_frame__checkbox-input p {
  margin-left: 10px;
}

.next_block_checkbox {
  display: none;
  margin-top: 25px;
}

.next_block_checkbox.active_box {
  display: block;
}

.calculator_frame form > div.active {
  -webkit-box-shadow: 0px 1px 3px 1px #55c41d52;
          box-shadow: 0px 1px 3px 1px #55c41d52;
}

.fly_result {
  width: 60%;
  margin-right: auto;
  margin-top: 70px;
  display: none;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.fly_result__line {
  padding-bottom: 12px;
  border-bottom: 1px solid #e4e4e4;
}

.fly_result__line > p {
  margin-bottom: 7px;
}

.fly_result__line:last-child {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-bottom: none;
}

.fly_result__line span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.fly_result__line span p {
  margin: 0 0 0 5px;
  font-size: 13px;
  color: #949494;
  font-weight: 100;
}
/*# sourceMappingURL=style.css.map */
